---
title: "GAAS: Enhance your user's retention rate in 3 minutes."
---

<header class="hero-section site-header">
  <h1 class="site-title">
    <%= image_tag("Logo@2x.jpg", width: 512) %>
    <span class="sr-only">GAAS</span>
  </h1>
  <p class="hero-title-expanded">
    Gamification as a Service
  </p>
  <h2 class="hero-lead-title">
    Enhance your user's retention rate in 3 minutes.
  </h2>

  <div class="hero-actions">
    <a href="/users/signup" class="btn hero-action-button">Try it now</a>
  </div>
</header><!-- /header -->

<main>
  <section id="how-gaas-works" class="gaas-section">
    <h2 class="section-title">
      <%= image_tag("how_it_works@2x.png", height: 100) %>
      <span class="sr-only">How GAAS Works</span>
    </h2>

    <div class="hiw-steps-group">
      <article class="hiw-step step-1">
        <h3 class="hiw-step-title">
          Install Plugin
        </h3>
        <p class="hiw-step-desc">
          Simply install our JS plugin with a line of code.
        </p>
      </article>

      <article class="hiw-step step-2">
        <h3 class="hiw-step-title">
          Track Engagement
        </h3>
        <p class="hiw-step-desc">
          Track your users' engagement with our API.
        </p>
      </article>

      <article class="hiw-step step-3">
        <h3 class="hiw-step-title">
          Reward Users
        </h3>
        <p class="hiw-step-desc">
          Reward your users with GAAS achievement system.
        </p>
      </article>

      <article class="hiw-step step-4">
        <h3 class="hiw-step-title">
          Increase retention rate
        </h3>
        <p class="hiw-step-desc">
          Increase your users' retention rate with smiles on their faces.
        </p>
      </article>
    </div>

  </section><!-- /#how-gaas-works -->

  <section id="why-gaas" class="gaas-section">
    <h2 class="sr-only">Why GAAS</h2>

    <div class="why-badges-group">
      <article class="why-badge">
        <%= image_tag("b1@2x.jpg", width: 220, alt: "", class: "why-badge-image") %>
        <h3 class="why-title">
          Install Easily
        </h3>
        <p class="why-desc">
          Simply add a line of code to install our&nbsp;JS&nbsp;plugin and track your user’s engagement easily.
        </p>
      </article>

      <article class="why-badge">
        <%= image_tag("b1@2x.jpg", width: 220, alt: "", class: "why-badge-image") %>
        <h3 class="why-title">
          Happy Users
        </h3>
        <p class="why-desc">
          With GAAS achievement system you can raise users’ self accomplishment and engage them with your site more.
        </p>
      </article>

      <article class="why-badge">
        <%= image_tag("b1@2x.jpg", width: 220, alt: "", class: "why-badge-image") %>
        <h3 class="why-title">
          100% Free
        </h3>
        <p class="why-desc">
          We provide high quality service and interesting experience free of charge.
        </p>
      </article>
    </div>
  </section><!-- /#how-gaas-works -->

  <section id="features" class="gaas-section">
    <h2 class="sr-only">Features</h2>

    <article class="feature-block block-brown">
      <div class="feature-body">
        <h3 class="feature-title">
          Achievement Notification
        </h3>
        <p class="feature-desc">
          GAAS notification shows up when your user is awarded with a badge.
        </p>
      </div>
      <div class="feature-figure">
        <%= image_tag("feature_notifications.jpg", class: "feature-figure-image") %>
      </div>
    </article>

    <article class="feature-block block-greensea">
      <div class="feature-body">
        <h3 class="feature-title">
          View Achievements
        </h3>
        <p class="feature-desc">
          Your users can check out all their achivements on the My Badge widget.
        </p>
      </div>
      <div class="feature-figure">
        <%= image_tag("feature_achievements.jpg", class: "feature-figure-image") %>
      </div>
    </article>

    <article class="feature-block block-ivory">
      <div class="feature-body">
        <h3 class="feature-title">
          Badge Options
        </h3>
        <p class="feature-desc">
          We provide a wide range of badge design for you to choose from and more to come.
        </p>
      </div>
      <div class="feature-figure">
        <%= image_tag("feature_badges.jpg", class: "feature-figure-image") %>
      </div>
    </article>
  </section><!-- /#how-gaas-works -->
</main><!-- /main -->

<footer class="hero-section site-footer">
  <h2 class="footer-title">
    <%= image_tag("Logo@2x.jpg", width: 340) %>
    <span class="sr-only">GAAS</span>
  </h2>
  <p class="hero-title-expanded">
    Gamification as a Service
  </p>
  <h3 class="hero-lead-title">
    Easiest way to build your own gamification free of charge
  </h3>

  <div class="hero-actions">
    <a href="/users/signup" class="btn hero-action-button">Try it now!</a>
  </div>
</footer>

<div class="sosumi">
  2016 &copy; GAAS. All rights reserved.
</div>
